#strengths_div {
	background: #007CE2;
	border-radius: 25px;
	width: 400px;
	height: 600px;
	position: relative;
	float: left;
	margin: 2px
}

#weaknesses_div {
	background: #E54040;
	border-radius: 25px;
	width: 400px;
	height: 600px;
	position: relative;
	float:left;
	margin: 2px
}

#opportunities_div {
	background: #8BC34A;
	border-radius: 25px;
	width: 400px;
	height: 600px;
	position: relative;
	float:left;
	clear: left;
	margin: 2px
}

#threats_div {
	background: #FF9800;
	border-radius: 25px;
	width: 400px;
	height: 600px;
	position: relative;
	float:left;
	margin: 2px
}

div.add_value {
	visibility: hidden;
}

div.list_scroll {
	position:absolute;
	width: 390;
	height: 590;
	left: 5;
	word-wrap: break-word;
}

ul li {
	padding: 1px 0px;
}