#strengths_div {
	border: 1px solid #007E33;
	width: 366px;
	height: 300px;
	position: relative;
	float: left;
	margin: 5px;
}

#weaknesses_div {
	border: 1px solid #CC0000;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px
}

#opportunities_div {
	border: 1px solid #0099CC;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	clear: left;
	margin: 5px;
	margin-bottom:40px;
}

#threats_div {
	border: 1px solid #FF8800;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
}

#suggestions_div {
	/*border: 1px solid #37474F;*/
	width: 745px;
	/*height: 550px;*/
	overflow: auto;
	position: relative;
	clear: both;
	margin: 5px;
	margin-bottom: 66px;
}

div.add_value {
	position: absolute;
	bottom: 0;
	width: 365;
}

div.list_scroll {
	position:absolute;
	width: 356;
	height: 223;
	left: 5;
	margin-top: 5px;
	word-wrap: break-word;
	overflow-y: auto;
}

.div_title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: white;
}

.value_textbox {
	width: 300;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.remove-button:hover {
	color: red;
	cursor: pointer;
}