{% extends "swot/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/SWOT.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/swotmodal.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/SWOT.js' %}"></script>
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
<!-- SWOT Tool -->
<div style="float:left; margin-left: 66px; width:752px;">
	<h1 id="section-title">SWOT Analysis</h1>

	<div id="swotcard_name_div">
		<h1 id="swotcard_name" style="display: inline-block;">SWOT Analysis Title... </h1>
		<i onclick="showSwotcardNameEdit()" class="fa fa-pencil" aria-hidden="true"></i>
	</div>

	<div id="swotcard_edit_div" style="display:none">
		<textarea id="swotcard_edit" rows="1" cols="50">SWOT Analysis Title...</textarea>
		<i onclick="hideSwotcardNameEdit()" class="fa fa-floppy-o" aria-hidden="true"></i>
	</div>

	<div style="clear:both;">
		<div id="swot_button" class="div-button-active" style="margin-left: 66px;" onclick="reset_layout();swot_layout();">
			<div name="icons" style="margin:5px">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				<i class="fa fa-rocket" aria-hidden="true"></i>
				<i class="fa fa-ambulance" aria-hidden="true"></i>
			</div>
			<div name="text" style="margin:5px;margin-top:0px;">
				<span>SWOT Analysis</span>
			</div>
		</div>
		<div id="str_opp_button" class="div-button-inactive" onclick="reset_layout();str_opp_layout();">
			<div name="icons" style="padding:3px">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<i class="fa fa-rocket" aria-hidden="true"></i>
			</div>
			<div name="text" style="padding:3px">
				<span>Strength and Opportunities Plan</span>
			</div>
		</div>
		<div id="str_thr_button" class="div-button-inactive" onclick="reset_layout();str_thr_layout()">
			<div name="icons" style="padding:3px">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<i class="fa fa-ambulance" aria-hidden="true"></i>
			</div>
			<div name="text" style="padding:3px">
				<span>Strength and Threats Plan</span>
			</div>
		</div>
		<div id="wea_opp_button" class="div-button-inactive" onclick="reset_layout();wea_opp_layout()">
			<div name="icons" style="padding:3px">
				<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				<i class="fa fa-rocket" aria-hidden="true"></i>
			</div>
			<div name="text" style="padding:3px">
				<span>Weakness and Opportunities Plan</span>
			</div>
		</div>
		<div id="wea_thr_button" style="clear:right;" class="div-button-inactive" onclick="reset_layout();wea_thr_layout()">
			<div name="icons" style="padding:3px">
				<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				<i class="fa fa-ambulance" aria-hidden="true"></i>
			</div>
			<div name="text" style="padding:3px">
				<span>Weakness and Threats Plan</span>
			</div>
		</div>
	</div>

	<p style="clear:both; font-size: 16px;" id="section-description">Use these fields to identify your strengths, weaknesses, opportunities, and threats.</p>

	<div id="swot_div">
		<div id="strengths_div">
			<div style="border-bottom: 1px solid #007E33; background: #007E33;">
				<h1 class="div_title" style="display:inline;"> Strengths </h1>

                <div id="owner_dropdown" class="dropdown" style="float:right;">
                    <button onclick="document.getElementById('strengths_help_dropdown').classList.toggle('show');" class="dropbtn" style="background: #007E33;border:1px solid #007E33;"><i class="fa fa-question-circle " aria-hidden="true" style="color:white;"></i></button>
                    <div id="strengths_help_dropdown" class="dropdown-content">
                        <ul id="suggestion_list" style="list-style-type: decimal;">
                            <li>Do you have a differentiation focus?</li>
                            <li>How are you different from your competition?</li>
                            <li>Does your region specialize in any areas?</li>
                            <li>Are any neigboring regions specializing in the same areas as you?</li>
                            <li>Are there benefits to specializing in a particular area?</li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="list_scroll">
				<ul id="strength_ul"></ul>
			</div>
			<div class="add_value" style="border-top: 1px solid #007E33;">
				<input class="value_textbox" type="text" name="strength_input" id="strength_input" placeholder="Add Strength..." onkeydown = "if (event.keyCode == 13) document.getElementById('str_btn').click()">
				<button id="str_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('strength')">
					Add
				</button>
			</div>
		</div>
		<div id="weaknesses_div">
			<div style="border-bottom: 1px solid #CC0000; background: #CC0000;">
				<h1 class="div_title" style="display:inline;"> Weaknesses </h1>

                <div id="owner_dropdown" class="dropdown" style="float:right;">
                    <button onclick="document.getElementById('weaknesses_help_dropdown').classList.toggle('show');" class="dropbtn" style="background: #CC0000;border:1px solid #CC0000;"><i class="fa fa-question-circle " aria-hidden="true" style="color:white;"></i></button>
                    <div id="weaknesses_help_dropdown" class="dropdown-content">
                        <ul id="suggestion_list" style="list-style-type: decimal;">
                            <li>Do you have a differentiation focus?</li>
                            <li>How are you different from your competition?</li>
                            <li>Does your region specialize in any areas?</li>
                            <li>Are any neigboring regions specializing in the same areas as you?</li>
                            <li>Are there benefits to specializing in a particular area?</li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="list_scroll">
				<ul id="weakness_ul"></ul>
			</div>
			<div class="add_value" style="border-top: 1px solid #CC0000;">
				<input class="value_textbox" type="text" name="weakness_input" id="weakness_input" placeholder="Add Weakness..." onkeydown = "if (event.keyCode == 13) document.getElementById('wea_btn').click()">
				<button id="wea_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('weakness')">
					Add
				</button>
			</div>
		</div>
		<div id="opportunities_div">
			<div style="border-bottom: 1px solid #0099CC; background: #0099CC;">
				<h1 class="div_title" style="display:inline;"> Opportunities </h1>

                <div id="owner_dropdown" class="dropdown" style="float:right;">
                    <button onclick="document.getElementById('opportunities_help_dropdown').classList.toggle('show');" class="dropbtn" style="background: #0099CC;border:1px solid #0099CC;"><i class="fa fa-question-circle " aria-hidden="true" style="color:white;"></i></button>
                    <div id="opportunities_help_dropdown" class="dropdown-content">
                        <ul id="suggestion_list" style="list-style-type: decimal;">
                            <li>Do you have a differentiation focus?</li>
                            <li>How are you different from your competition?</li>
                            <li>Does your region specialize in any areas?</li>
                            <li>Are any neigboring regions specializing in the same areas as you?</li>
                            <li>Are there benefits to specializing in a particular area?</li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="list_scroll">
				<ul id="opportunities_ul"></ul>
			</div>
			<div class="add_value" style="border-top: 1px solid #0099CC;">
				<input class="value_textbox" type="text" name="opportunities_input" id="opportunities_input" placeholder="Add Opportunity..." onkeydown = "if (event.keyCode == 13) document.getElementById('opp_btn').click()">
				<button id="opp_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('opportunities')">
					Add
				</button>
			</div>
		</div>
		<div id="threats_div">
			<div style="border-bottom: 1px solid #FF8800; background: #FF8800;">
				<h1 class="div_title" style="display:inline;"> Threats </h1>

                <div id="owner_dropdown" class="dropdown" style="float:right;">
                    <button onclick="document.getElementById('threats_help_dropdown').classList.toggle('show');" class="dropbtn" style="background: #FF8800;border:1px solid #FF8800;"><i class="fa fa-question-circle " aria-hidden="true" style="color:white;"></i></button>
                    <div id="threats_help_dropdown" class="dropdown-content">
                        <ul id="suggestion_list" style="list-style-type: decimal;">
                            <li>Do you have a differentiation focus?</li>
                            <li>How are you different from your competition?</li>
                            <li>Does your region specialize in any areas?</li>
                            <li>Are any neigboring regions specializing in the same areas as you?</li>
                            <li>Are there benefits to specializing in a particular area?</li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="list_scroll">
				<ul id="threat_ul"></ul>
			</div>
			<div class="add_value" style="border-top: 1px solid #FF8800;">
				<input class="value_textbox" type="text" name="threat_input" id="threat_input" placeholder="Add Threat..." onkeydown = "if (event.keyCode == 13) document.getElementById('thr_btn').click()">
				<button id="thr_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('threat')">
					Add
				</button>
			</div>
		</div>

		<!-- str_opp_layout -->
		<div id="str_opp_div">
			<div style="border-bottom: 1px solid #007E33; background: #007E33;">
				<h1 class="div_title"> Strengths/Opportunities Plan </h1>
			</div>
			<div class="large_scroll">
				<ul id="str_opp_ul"></ul>
			</div>
			<div class="add_plan" style="border-top: 1px solid #007E33;">
				<input class="plan_textbox" type="text" name="str_opp_input" id="str_opp_input" placeholder="Add Plan..." onkeydown = "if (event.keyCode == 13) document.getElementById('str_opp_btn').click()">
				<button id="str_opp_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('str_opp')">
					Add
				</button>
			</div>
		</div>
		<!-- str_opp_layout -->
		<!-- str_thr_layout -->
		<div id="str_thr_div">
			<div style="border-bottom: 1px solid #007E33; background: #007E33;">
				<h1 class="div_title"> Strengths/Threats Plan </h1>
			</div>
			<div class="large_scroll">
				<ul id="str_thr_ul"></ul>
			</div>
			<div class="add_plan" style="border-top: 1px solid #007E33;">
				<input class="plan_textbox" type="text" name="str_thr_input" id="str_thr_input" placeholder="Add Plan..." onkeydown = "if (event.keyCode == 13) document.getElementById('str_thr_btn').click()">
				<button id="str_thr_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('str_thr')">
					Add
				</button>
			</div>
		</div>
		<!-- str_thr_layout -->

		<!-- wea_opp_layout -->
		<div id="wea_opp_div">
			<div style="border-bottom: 1px solid #007E33; background: #007E33;">
				<h1 class="div_title"> Weaknesses/Opportunities Plan </h1>
			</div>
			<div class="large_scroll">
				<ul id="wea_opp_ul"></ul>
			</div>
			<div class="add_plan" style="border-top: 1px solid #007E33;">
				<input class="plan_textbox" type="text" name="wea_opp_input" id="wea_opp_input" placeholder="Add Plan..." onkeydown = "if (event.keyCode == 13) document.getElementById('wea_opp_btn').click()">
				<button id="wea_opp_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('wea_opp')">
					Add
				</button>
			</div>
		</div>
		<!-- wea_opp_layout -->
		<!-- wea_thr_layout -->
		<div id="wea_thr_div">
			<div style="border-bottom: 1px solid #007E33; background: #007E33;">
				<h1 class="div_title"> Weaknesses/Threats Plan </h1>
			</div>
			<div class="large_scroll">
				<ul id="wea_thr_ul"></ul>
			</div>
			<div class="add_plan" style="border-top: 1px solid #007E33;">
				<input class="plan_textbox" type="text" name="wea_thr_input" id="wea_thr_input" placeholder="Add Plan..." onkeydown = "if (event.keyCode == 13) document.getElementById('wea_thr_btn').click()">
				<button id="wea_thr_btn" style="width: 51px; margin-right: 5px;" onclick="addToList('wea_thr')">
					Add
				</button>
			</div>
		</div>
		<!-- wea_thr_layout -->

	</div>

    <!--
	<div id="suggestions_div">
		<div style="/*border-bottom: 1px solid #37474F; background: #37474F;*/">
			<h1 class="div_title_not"> Questions to consider: </h1>
		</div>
		<div class="list_scroll_not" style="width: 730px; /*height: 500;*/">
			<ul id="suggestion_list" style="list-style-type: decimal;">
				<li>Do you have a differentiation focus?</li>
				<li>How are you different from your competition?</li>
				<li>Does your region specialize in any areas?</li>
				<li>Are any neigboring regions specializing in the same areas as you?</li>
				<li>Are there benefits to specializing in a particular area?</li>
				<li>Are there alternatives to specializing in an area?</li>
				<li>Is their demand for something your region specializes in?</li>
				<li>Is there an area you don't specialize in, but would like to focus on?</li>
				<li>Is there demand for an area you specialize in?</li>
				<li>Is there demand for an area you dont specialize in?</li>
				<li>Is there an economic advantage to an area?</li>
				<li>Is there an economic disadvantage to an area?</li>
				<li>Are there any areas of market growth in your region?</li>
				<li>Are there any areas of low market growth in your region?</li>
				<li>Are there any developing markets in your region?</li>
				<li>Are there any regions your could parter with in an area?</li>
				<li>Are there any regulation changes that could affect an area?</li>
				<li>Is there potential for automation in an area?</li>
				<li>Do you have shortages in an area?</li>
				<li>Are there any tax changes that may affect an area?</li>
				<li>Are there any areas with poor quality?</li>
				<li>Are there any areas with good quality?</li>
				<li>Do you have a strong reputation in an area?</li>
				<li>Do you have a weak reputation in an area?</li>
				<li>Is there a possibility to integrate one area with another?</li>
				<li>Are there new competiters in a market?</li>
			</ul>
		</div>
	</div>
	-->
</div>

<div id="swotcard_load_modal" class="modal" style="display: none;">
    <div class="modalheader">
        <div style="float:left";>
            <p>Which SWOT Analysis Form should be loaded?</p>
        </div>
        <div style="float:right";>
            <span class="close" onclick="hideModal('swotcard_load_modal')">&times</span>
        </div>
    </div>

    <div class="modalcontent">
        <select id="swotcard_select"></select>
        <button onclick="loadFromDB()">Load</button>
    </div>

    <div class="modalheader">
        <div style="float:left";>
            <p>Load from Share ID</p>
        </div>
    </div>

    <div class="modalcontent">
        <input id="share_id_input" type="text">
        <button onclick="addToShares()">Add to Your List</button>
    </div>
</div>

<div id="swotcard_share_modal" class="modal" style="display: none;">
    <div class="modalheader">
        <div style="float:left";>
            <p>Share ID</p>
        </div>
        <div style="float:right";>
            <span class="close" onclick="hideModal('swotcard_share_modal')">&times</span>
        </div>
    </div>

    <div class="modalcontent">
        <p id="share_id_in_modal">This SWOT analysis is not saved yet. Please save it or load an existing SWOT analysis to get a Share ID.</p>
    </div>
</div>

<div id="confirm_delete_modal" class="modal" style="display: none; height:170px;">
    <div class="modalheader">
        <div style="float:left";>
            <p>Delete SWOT Analysis</p>
        </div>
        <div style="float:right";>
            <span class="close" onclick="hideModal('confirm_delete_modal')">&times</span>
        </div>
    </div>

    <div class="modalcontent">
        <p>Do you want to delete this SWOT Analysis? You cannot undo this action.</p>
        <button onclick="deleteFromDB();hideModal('confirm_delete_modal');">Yes</button>
        <button onclick="hideModal('confirm_delete_modal')">No</button>
    </div>
</div>

<button id="getswotcards" action="{% url 'swot_getswotcards'%}" style="display:none;"></button>
<!-- SWOT Tool -->

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-top: 61px">
	<form id="pdf_form" method="post" action="{% url 'swot_pdf' %}">
		{% csrf_token %}
		<input type="hidden" id="html_string" name="html_string" value="">
	</form>

    <form id="loadfromshareid" method="get" action="{% url 'swot_loadfromdb' %}" style="display: none;">
    </form>

    <form id="addtoshares" method="post" action="{% url 'swot_addtoshares' %}" style="display: none;">
    </form>

    <form id="download_data_form" method="post" action="{% url 'swot_downloaddata' %}">
        {% csrf_token %}
        <input type="hidden" id="tablejson_save" name="tablejson">
    </form>

	<div class="sidemenu-div" >
		<div>
			<ul class="sidemenu">
				<li id="savebutton" action="{% url 'swot_savetodb' %}" onclick="saveToDB()"><i class="fa fa-floppy-o"></i> Save</li>
                <li id="deletebutton" action="{% url 'swot_deletefromdb' %}" onclick="confirmDelete()"><i class="fa fa-trash"></i> Delete</li>
				<li id="loadbutton" action="{% url 'swot_loadfromdb' %}"onclick="getSwotcards()"><i class="fa fa-upload"></i> Load</li>
				<li id="loadtables" onclick="createAndClickFile()" action="{% url 'bscapp_loadtables'%}"><i class="fa fa-upload"></i> Upload from JSON</li>
                <li onclick="setSaveForm();"><i class="fa fa-download "></i> Export to JSON</li>
				<li id="exportpdf" action="{% url 'swot_pdf' %}" onclick="printPDF();document.getElementById('pdf_form').submit();"><i class="fa fa-file-pdf-o"></i> Export to PDF</li>
                <li onclick="openShareModal()"><i class="fa fa-share-alt"></i> Share</li>
				<li onclick="if(leavingPage()){window.location = '{% url 'swot_guide' %}'}"><i class="fa fa-question-circle-o"></i> Help</li>
				<li onclick="if(leavingPage()){window.location = '{% url 'swot_index' %}'}"><i class="fa fa-info-circle"></i> About</li>
			</ul>
		</div>
		<div class="sidemenu-readmore">
			SWOT Menu
		</div>
	</div>

	<!-- {% include "swot/online_steps.html" %} -->
    <aside id='sidebar'>
        <a href="{% static 'data/SWOT_Analysis_Guideline.pdf' %}" target="_blank">
            <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
    </aside>
</div>
<!-- Page Menus -->

<script>
    $(document).ready(function() {
        {% if not request.session.swot_profile.email %}
            window.location = '{% url 'swot_accessappsplash' %}';
        {% endif %}
        {% if type %}
            setSwotType('{{ type }}');
        {% endif %}
        {% if share_id %}
            document.getElementById('share_id_input').value = "{{ share_id }}";
            loadFromShareId();
            document.getElementById('share_id_input').value = "";
        {% endif %}
    });
</script>
{% endblock %}