{% extends "swot/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/SWOT.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/SWOT.js' %}"></script>
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
<!-- page content -->
<div style="float:left; margin-left: 66px; width: 740px">
	<h1>About SWOT Analysis</h1>
	<p>
		SWOT Analysis is a simple process designed to help identify strengths, weaknesses, opportunities, and threats.
		The process aims to inform a competitive strategy perspective in terms of improving and creating sustainable
		growth and a positive societal impact.
		<br>
		Identifying issues relevant to each of the four quadrants of SWOT (strengths, weaknesses, opportunities, and
		threats) will help identify promising areas of research and innovation. Furthermore, it will help identify
		areas that could be more deeply analysed.
		<br>
		We provide a tool that lets you record, organise and edit strengths, weaknesses, opportunities and threats
		online. You can also share your drafts of your SWOT analysis with others who can then contribute to the overall
		analysis.
	</p>
</div>
<!-- page content -->

<!-- Page Menus -->
<!-- <div style="float: left; margin-left: 66px; margin-bottom: 66px;"> -->
	<!-- {% include "swot/online_steps.html" %} -->
<!-- </div> -->
<!-- Page Menus -->
{% endblock %}