{% extends "swot/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/SWOT.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/SWOT.js' %}"></script>
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
<!-- page content -->
<div style="float:left; margin-left: 66px; width: 740px">
	<h1>About SWOT Analysis</h1>
	<p>The SWOT Analysis application is a tool designed to support users who are creating a SWOT analysis for their
		organisation (e.g. for a specific innovation-related topic concerning their region). SWOT analyses are quite
		commonly used as part of the development of Smart Specialisation exercises.</p>
	<p>A SWOT Analysis is a process that is designed to help identify strengths, weaknesses, opportunities and threats
		concerning an organisation or activity. It is useful in helping regions determine their regional assets and
		their relative positioning, and it can be used in order to identify areas of strength of a region to build on
		and investigate further. SWOT analysis gives users an analysis framework under which they can gather and
		organise information about the relevant topic of interest and represent it for analysis and presentation.
		The analysis of opportunities and threats as part of a SWOT analysis encourages users to move beyond
		focusing on a isolated review of the topic or organisation being analysed and to include white spots and
		competitors as integral parts of their examination.</p>
	<p>The method is helpful for regional analysis to identify key areas for other methods to evaluate more deeply in
		terms of appropriate business-context-adapted metrics. This is to help achieve a well-specified framework for
		holistic assessment of the impact of the mix of helpful and adverse influences affecting the potential for a
		company to grow. Thus SWOT essentially enables the stakeholders to predict the prospects for each of a set of
		possible Smart Specialisation Strategies in order to determine how each could   build on the regional strengths
		and advantages, as well as mobilising growth in leading areas of research and innovation. Furthermore, it
		helps regions develop S3 policies based on areas of strength and weakness as identified by SWOT analysis.</p>
	<p>The SWOT Analysis application enables users to enter and update SWAT analysis data, store and retrieve the
		entered data, share a SWOT analysis with other users and allowing them to edit the existing SWOT analysis,
		meaning that the application serves as an online template for filling in, updating, sharing and publishing your
		SWOT analysis.</p>
	<p>In order to successfully carry out SWOT analysis, the method requires the experience and objective opinions of
		the stakeholders which requires evidence-based identification and assessment of the relative economic strengths,
		weaknesses, opportunities, and threats for their region based on knowledge of the regional economy.</p>
	<p>It can be useful to combine a SWOT analysis with the Delphi method. OS3 also provides a tool to support the
		Delphi method.</p>
</div>
<!-- page content -->

<!-- Page Menus -->
<!-- <div style="float: left; margin-left: 66px; margin-bottom: 66px;"> -->
	<!-- {% include "swot/online_steps.html" %} -->
<!-- </div> -->
<!-- Page Menus -->
{% endblock %}