#strengths_div {
	border: 1px solid #007E33;
	width: 366px;
	height: 300px;
	position: relative;
	float: left;
	margin: 5px;
	background: white;
}

#weaknesses_div {
	border: 1px solid #CC0000;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	background: white;
}

#opportunities_div {
	border: 1px solid #0099CC;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	clear: left;
	margin: 5px;
	margin-bottom:40px;
	background: white;
}

#threats_div {
	border: 1px solid #FF8800;
	width: 366px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	background: white;
}

#suggestions_div {
	/*border: 1px solid #37474F;*/
	width: 745px;
	/*height: 550px;*/
	overflow: auto;
	position: relative;
	clear: both;
	margin: 5px;
	margin-bottom: 66px;
}

#str_opp_div {
	display:none;
	border: 1px solid #007E33;
	width: 742px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	margin-bottom: 40px;
}

#str_thr_div {
	display:none;
	border: 1px solid #007E33;
	width: 742px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	margin-bottom: 40px;
}

#wea_opp_div {
	display:none;
	border: 1px solid #007E33;
	width: 742px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	margin-bottom: 40px;
}

#wea_thr_div {
	display:none;
	border: 1px solid #007E33;
	width: 742px;
	height: 300px;
	position: relative;
	float:left;
	margin: 5px;
	margin-bottom: 40px;
}

div.add_value {
	position: absolute;
	bottom: 0px;
	width: 365px;
}

div.add_plan {
	position: absolute;
	bottom: 0px;
	width: 741px;
}

div.list_scroll {
	position:absolute;
	width: 356px;
	height: 223px;
	left: 5px;
	margin-top: 5px;
	word-wrap: break-word;
	overflow-y: auto;
}

div.large_scroll {
	position:absolute;
	width: 675px;
	height: 223px;
	left: 5px;
	margin-top: 5px;
	word-wrap: break-word;
	overflow-y: auto;
}

.div_title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: white;
}

.value_textbox {
	width: 300px;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.plan_textbox {
	width: 675px;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.remove-button:hover {
	color: red;
	cursor: pointer;
}

.div-button-inactive {
	background-color: #f6f6f6;
	width: 100px;
	height: 90px;
	margin: 15px;
	opacity: 1;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

.div-button-inactive i {
	opacity: 0.5;
}

.div-button-inactive span {
	opacity: 0.5;
}

.div-button-inactive:hover{
	cursor: pointer;
}

.div-button-active i {
	color:white;
}

.div-button-active span {
	color: white;
}

.div-button-active {
	background-color: #1372aa;
	width: 100px;
	height: 90px;
	margin: 15px;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

.splash-button {
	background-color: #0099CC;
	color:white;
	width: 100px;
	height: 105px;
	margin: 15px;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

.splash-button-disabled {
	background-color: #cccccc;
	color: #6d6d6d;
	width: 100px;
	height: 105px;
	margin: 15px;
	float: left;
	font-size: 13px;
	font-family: verdana,sans-serif
}

.splash-button:hover{
	background-color: #1372aa;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #0080B3;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.s3_button{
    color:white;
    border:1px solid #0099CC;
    background-color:#0099CC;
}

.s3_button:hover{
     background-color: #0080B3;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
div .show {display:inline !important}